<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WEBERP Automation Test Suite">

	<listeners>
		<listener class-name="sales.qa.ExtentReporterListener.ExtentReporterListener" />
	</listeners>


	<test name="WEBERP Test Cases">
		<classes>
			<class name="sales.qa.testcases.LoginTest"></class>
			<class name="sales.qa.testcases.SalesTest"></class>
			<class name="sales.qa.testcases.ReceivablesTest"></class>
			<class name="sales.qa.testcases.PurchasesTest"></class>
			<class name="sales.qa.testcases.PayablesTest"></class>
			<class name="sales.qa.testcases.InventoryTest"></class>
			<class name="sales.qa.testcases.ManufacturingTest"></class>
			<class name="sales.qa.testcases.GeneralLedgerTest"></class>
			<class name="sales.qa.testcases.AssetManagerTest"></class>
			<class name="sales.qa.testcases.PettyCashTest"></class>
			<class name="sales.qa.testcases.SetupTest"></class>
			<class name="sales.qa.testcases.UtilitiesTest"></class>
		</classes>
	</test>
</suite>